form {
    width: 800px;
}


.nameFieldRow {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 8px;
    margin: 8px 0
}

.button {
    margin: 8px 0
}

.loginFormPassword {
    margin: 8px 0
    
}

.footerText{
    & :last-child {
        text-decoration: underline;
        color: #fff;
    }
    text-align: center;
}